.App {
  text-align: center;
}
body{
  background-color: seashell;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 1px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

svg{
  margin-top: 50px;
  max-width: 500px;
  border: 1px black solid;
}
.Floorplan{
  stroke-width: 3px;
  stroke: #3a5d41;
  stroke-linejoin: round;
  fill-opacity: 0.3;
}

.GuardSight{
  stroke-width: 1px;
  stroke-dasharray: 1 2;
  stroke-linejoin: round;
  fill-opacity: 0.2;
}

.controls{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
button {
  background-color: seashell;
  border: 2px solid black;
  height: 30px;
  display: inline-block;
  font-size: 17px;
  appearance: none;
}
